
@{
	ViewBag.Title = "SysAdminHome";
}

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		* {
			box-sizing: border-box;
		}

		/* Create two equal columns that floats next to each other */
		.column {
			float: left;
			width: 33.33%;
			padding: 10px;
			height: 120px; /* Should be removed. Only for demonstration */
		}

		/* Clear floats after the columns */
		.row:after {
			content: "";
			display: table;
			clear: both;
		}
	</style>

</head>

<div class="jumbotron">
	<h1>SET UP</h1>


	<div class="row">
		<div class="column">
			<p>@Html.ActionLink("Clients", "Index", "Clients", null, htmlAttributes: new { @class = "btn btn-primary btn-md" })</p>

		</div>
		<div class="column">
			<p>@Html.ActionLink("Clients", "Index", "Clients", null, htmlAttributes: new { @class = "btn btn-primary btn-md" })</p>

		</div>
		<div class="column">
			<p>@Html.ActionLink("Clients", "Index", "Clients", null, htmlAttributes: new { @class = "btn btn-primary btn-md" })</p>

		</div>
	</div>

	<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
	<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

